body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  
  .container{
    width: 100%;
    top: 50%;
    transform: translateY(-10%);
    text-align: center;
    color: #343434
  }
  
  .container h1{
    font-size: 50px;
    margin: 0;
    width: 100%;
    font-weight: 1200;
    background: url(/public/images/stardust.png) center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  .container a{
    text-decoration: none;
    background: #e55039aa;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
  }
  
  .container a:hover{
    background: #e55039;
  }
  