<!-- <link
  href="https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,900&family=Tapestry&family=Ubuntu:wght@400;500&display=swap"
  rel="stylesheet" />

<div class="left side-menu"> -->
<!-- LOGO -->
<!-- <div>
    <div> -->
<!--<a href="index" class="logo text-center">Admiria</a>-->
<!-- <a href="/" class="logo"><img src="public/images/logo.png" height="100" alt="logo">

        <h4 style="
              color: #dddddd;
              font-family: 'Ubuntu', sans-serif;
              text-align: center;
            ">
          Lawsuit
        </h4>
      </a>


    </div>
  </div>

  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
      <ul> -->
<!-- <li>
          <a href="/dashboard" class="waves-effect">
            <i class="mdi mdi-view-dashboard"></i> <span> Dashboard </span></a>
        </li>
        <li>
          <a href="/get-logger-list" class="waves-effeect">
            <i class="mdi mdi-emoticon-sad"></i><span>Logs</span>
          </a>
        </li> -->
<!-- </ul>
</div>
<div class="clearfix"></div>
</div> -->
<!-- end sidebarinner -->
<!-- </div> -->
